# This origin is provided when making requests to the MediaWiki API. 
# It is used to identify the originator of the requests. 
VITE_REFER_FROM_ORIGIN=

# Build metadata
VITE_GITHUB_REPO_LINK=
VITE_GITLAB_REPO_LINK=
VITE_BUILD_CODE=phase-in-development
VITE_BUILD_DATE=2026-07-29