@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
  include:
    /* base */
    properties,
    reset,
    rootcolor,
    rootscrollgutter,
    rootscrolllock,
    scrollbar,
    svg,
    /* components */ button,
    input,
    textarea,
    checkbox,
    radio,
    toggle,
    select,
    tooltip,
    alert,
    link,
    list,
    swap,
    divider,
    loading,
    navbar,
    footer,
    menu,
    label,
    card,
    dropdown,
    kbd,
    /* utilities */ join,
    radius,
    typography,
    glass,
    /* themes */ corporate,
    nord,
    dark;
}

@theme {
  --breakpoint-xs: 30rem;
}

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;

  color-scheme: light;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "nord";
  default: true;

  color-scheme: light;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;

  color-scheme: dark;
}
@plugin "daisyui/theme" {
  name: "gato";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(14% 0.004 49.25);
  --color-base-300: oklch(14% 0.004 49.25);
  --color-base-content: oklch(87% 0.01 258.338);
  --color-primary: oklch(35% 0.144 278.697);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(27% 0.105 12.094);
  --color-secondary-content: oklch(92% 0.003 48.717);
  --color-accent: oklch(51% 0.096 186.391);
  --color-accent-content: oklch(90% 0.058 230.902);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(50% 0.134 242.749);
  --color-info-content: oklch(91% 0.08 205.041);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(97% 0 0);
  --color-warning: oklch(55% 0.135 66.442);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(39% 0.141 25.723);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@import "./styles/svelte-multiselect.css";
@import "./styles/FlexRow.css";
@import "./styles/Tooltip.css";
@import "./styles/app.css";