@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
}
@plugin "daisyui/theme" {
  name: "dark";
}

div.input-error.text-error {
  border: solid 1px var(--color-error);
  background-color: color-mix(in srgb, var(--color-error) 5%, transparent);
}