@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
}
@plugin "daisyui/theme" {
  name: "dark";
}

@import "./styles/svelte-multiselect.css";
@import "./styles/app.css";